# Assignment 4

### GOAL
After Assignment 4, you should understand and be able to apply the following functions (in addition to the ones from previous assignments):
- https://pandas.pydata.org/docs/reference/api/pandas.Series.prod.html
- https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.BernoulliNB.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html

## Exercises

***Ex1.*** Load a dataframe named 'info' from the following dictionary. The target variable is the column 'age', i.e., we try to predict the age based on some personal information.

```python
info = [
    {'has_children':False, 'has_car':False,  'has_pet':True, 'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':False,  'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':True,   'age':'0-25yo'},
    {'has_children':False, 'has_car':True,   'has_pet':False,  'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':True,   'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':False,   'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':True,  'age':'0-25yo'},
    {'has_children':True,  'has_car':False,  'has_pet':False,   'age':'0-25yo'},

    {'has_children':True,  'has_car':True,  'has_pet':True,  'age':'25-50yo'},
    {'has_children':False, 'has_car':True,  'has_pet':False,   'age':'25-50yo'},
    {'has_children':True,  'has_car':True,  'has_pet':True,  'age':'25-50yo'},
    {'has_children':False, 'has_car':False, 'has_pet':False,   'age':'25-50yo'},
    {'has_children':True,  'has_car':True,  'has_pet':True, 'age':'25-50yo'},
    {'has_children':False, 'has_car':True, 'has_pet':False,   'age':'25-50yo'},
    {'has_children':True,  'has_car':True,  'has_pet':True, 'age':'25-50yo'},
    {'has_children':False, 'has_car':True, 'has_pet':False,  'age':'25-50yo'},
    
    {'has_children':True,  'has_car':False, 'has_pet':True, 'age':'50+'},
    {'has_children':True,  'has_car':False,  'has_pet':False, 'age':'50+'},
    {'has_children':True,  'has_car':True,  'has_pet':True, 'age':'50+'},
    {'has_children':False, 'has_car':False, 'has_pet':False,  'age':'50+'},
]
```

In [1]:
import pandas as pd
info = [
    {'has_children':False, 'has_car':False,  'has_pet':True, 'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':False,  'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':True,   'age':'0-25yo'},
    {'has_children':False, 'has_car':True,   'has_pet':False,  'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':True,   'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':False,   'age':'0-25yo'},
    {'has_children':False, 'has_car':False,  'has_pet':True,  'age':'0-25yo'},
    {'has_children':True,  'has_car':False,  'has_pet':False,   'age':'0-25yo'},

    {'has_children':True,  'has_car':True,  'has_pet':True,  'age':'25-50yo'},
    {'has_children':False, 'has_car':True,  'has_pet':False,   'age':'25-50yo'},
    {'has_children':True,  'has_car':True,  'has_pet':True,  'age':'25-50yo'},
    {'has_children':False, 'has_car':False, 'has_pet':False,   'age':'25-50yo'},
    {'has_children':True,  'has_car':True,  'has_pet':True, 'age':'25-50yo'},
    {'has_children':False, 'has_car':True, 'has_pet':False,   'age':'25-50yo'},
    {'has_children':True,  'has_car':True,  'has_pet':True, 'age':'25-50yo'},
    {'has_children':False, 'has_car':True, 'has_pet':False,  'age':'25-50yo'},

    {'has_children':True,  'has_car':False, 'has_pet':True, 'age':'50+'},
    {'has_children':True,  'has_car':False,  'has_pet':False, 'age':'50+'},
    {'has_children':True,  'has_car':True,  'has_pet':True, 'age':'50+'},
    {'has_children':False, 'has_car':False, 'has_pet':False,  'age':'50+'},
]
info = pd.DataFrame(info)

***Ex2.*** Create a function 'prior_target' (use structure below). The function should return the prior (=probability) of the value. For instance, prior_target(info, 'age','25-50yo') returns the probability of the age being 25-50yo.

```python
def prior(df, col, value):
    return ...

prior(info, 'age','25-50yo')
```

In [2]:
def prior(df, col, value):
    return (df[col] == value).mean()

prior(info, 'age','25-50yo')

np.float64(0.4)

***Ex3.*** Create a function 'cond_probability' (use structure below). The function should return the value's prior (=probability) when the filter_col is equal to filter_val. For instance, cond_probability(info, 'age', '25-50yo', 'has_car',True) returns the probability of having a car for people that are between 25 and 50 yo. 
```python
def cond_probability(df, filter_col, filter_val, col, value):
    return ...

cond_probability(info, 'age', '25-50yo', 'has_car',True)
```

In [3]:
def cond_probability(df, filter_col, filter_val, col, value):
    return prior(df[df[filter_col]==filter_val], col, value)

cond_probability(info, 'age', '25-50yo', 'has_car',True)

np.float64(0.875)

***Ex4.*** Given "obs" (see below), calculate the probability of the target variable 'age' to be '50+'. Hint: loop and store two lists: (1) the conditional probabilities and (2) the prior for each feature. Then, calculate the product of these two lists and apply the formula: $p(c_i|w) = \frac{p(w|c_i)p(c_i)}{p(w)}$

```python
obs = {'has_children':False, 'has_car':True, 'has_pet':True}
```

In [4]:
obs = {'has_children':False, 'has_car':True, 'has_pet':True}
target_val = '50+'
condProbs = []
priorFeatures = []
for k, v in obs.items():
    print (k , v)
    condProbs.append(cond_probability(info, 'age', target_val, k, v))
    priorFeatures.append(prior(info, k, v))
print ((pd.Series(condProbs).prod() * prior(info, 'age', target_val)) / pd.Series(priorFeatures).prod())

has_children False
has_car True
has_pet True
0.046296296296296294

***Ex5.*** Do the same as above but now loop through each class and return the one with the highest probability. That's it; you implemented Naive Bayes ðŸ†

In [5]:
results = []
for target_val in info['age'].unique():
    condProbs = []
    priorFeatures = []
    for k, v in obs.items():
        condProbs.append(cond_probability(info, 'age', target_val, k, v))
        priorFeatures.append(prior(info, k, v))
    results.append({'prob':(pd.Series(condProbs).prod() * prior(info, 'age', target_val)) / pd.Series(priorFeatures).prod(), 'class':target_val})

    
print ('predicted Class:', pd.DataFrame(results).set_index('class')['prob'].idxmax())
pd.DataFrame(results)['prob'].idxmax()

predicted Class: 25-50yo

1

In [6]:
test.loc[test['prob'].idxmax(),'class']

NameError: name 'test' is not defined

In [38]:
info['age'].unique()

array(['0-25yo', '25-50yo', '50+'], dtype=object)

***Ex6.*** Use BernoulliNB from scikit to predict the class of obs (see: https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.BernoulliNB.html). Note1: there are several implementations of NaiveBayes in scikit. Because our features are binary, BernoulliNB is the best approach. Note2: make sure to present the features correctly, i.e., in the order used to train the model.

In [47]:
pd.DataFrame([obs])

   has_children  has_car  has_pet
0         False     True     True

In [49]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()
obs_df = pd.DataFrame([obs])[['has_children','has_car','has_pet']]
model.fit(info.drop(['age'],axis=1), info['age'])
pred = model.predict(obs_df)
pred

array(['25-50yo'], dtype='<U7')

In [48]:
info.drop('age', axis=1).columns

Index(['has_children', 'has_car', 'has_pet'], dtype='object')

In [40]:
info[]

    has_children  has_car  has_pet
0          False    False     True
1          False    False    False
2          False    False     True
3          False     True    False
4          False    False     True
5          False    False    False
6          False    False     True
7           True    False    False
8           True     True     True
9          False     True    False
10          True     True     True
11         False    False    False
12          True     True     True
13         False     True    False
14          True     True     True
15         False     True    False
16          True    False     True
17          True    False    False
18          True     True     True
19         False    False    False

In [42]:
obs_df

   has_children  has_car  has_pet
0         False     True     True