In [18]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [19]:
# Reading a CSV
df = pd.read_csv('possum.csv')
df

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [29]:
df.loc[[2,1],:]

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0

In [30]:
df.loc[[2,3], ['sex', 'age']]

  sex  age
2   f  6.0
3   f  6.0

The code sets the index of the DataFrame to the 'age' column and then returns all rows with an index label of 2, along with all of the columns for those rows.

This line of code would select all rows in the DataFrame where the value in the 'age' column is 2, and return all columns for those rows.

In [31]:
df.set_index('age').loc[2,:]

,case,site,Pop,sex,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
age,,,,,,,,,,,,,
2.0,5,1,Vic,f,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
2.0,7,1,Vic,m,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
2.0,18,1,Vic,m,93.5,55.7,90.0,36.0,73.7,55.4,15.3,28.0,32.0
2.0,24,1,Vic,m,94.4,54.9,84.0,34.0,75.0,53.5,16.2,27.0,32.0
2.0,27,1,Vic,f,90.5,54.5,85.0,35.0,70.3,50.8,14.2,23.0,28.0
2.0,30,1,Vic,f,92.1,54.4,84.0,33.5,70.6,50.8,14.5,24.5,33.0
2.0,34,2,Vic,m,90.6,55.7,85.5,36.5,73.1,53.1,14.4,26.0,28.5
2.0,37,2,Vic,f,89.3,54.8,82.5,35.0,71.2,52.0,13.6,28.0,31.5
2.0,43,2,Vic,f,90.0,55.5,81.0,32.0,72.0,49.4,13.4,29.0,31.0
2.0,47,3,other,m,90.1,54.8,89.0,37.5,66.0,45.5,15.0,25.0,33.0
2.0,55,4,other,m,103.1,63.2,92.5,38.0,72.5,44.9,16.4,30.5,36.0
2.0,59,4,other,m,102.5,62.8,96.0,40.0,73.2,44.5,14.7,32.0,36.0
2.0,60,4,other,f,91.3,57.7,88.0,39.0,63.1,47.0,14.4,26.0,30.0
2.0,87,7,other,m,98.5,60.7,93.0,41.5,71.7,46.8,15.0,26.0,36.0
2.0,88,7,other,f,89.6,58.0,87.5,38.0,66.7,43.5,16.0,25.5,31.5
2.0,92,7,other,m,90.7,56.3,85.0,37.0,67.6,46.8,14.5,25.5,31.0

The `iloc` attribute is used to access rows and columns in a Pandas DataFrame by integer index. It is similar to the `loc` attribute, but `iloc` only uses integer-based indexing, whereas `loc` can use either integer-based or label-based indexing.

In [32]:
df.set_index('age').iloc[2,:]

case           3
site           1
Pop          Vic
sex            f
hdlngth     94.0
skullw      60.0
totlngth    95.5
taill       39.0
footlgth    75.4
earconch    51.9
eye         15.5
chest       30.0
belly       34.0
Name: 6.0, dtype: object

In [33]:
df.set_index('age')

,case,site,Pop,sex,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
age,,,,,,,,,,,,,
8.0,1,1,Vic,m,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
6.0,2,1,Vic,f,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
6.0,3,1,Vic,f,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
6.0,4,1,Vic,f,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
2.0,5,1,Vic,f,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.0,100,7,other,m,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
1.0,101,7,other,m,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
6.0,102,7,other,f,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
4.0,103,7,other,m,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
3.0,104,7,other,f,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [34]:
df = df.sort_values('age', ascending=False)
df

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
10,11,1,Vic,f,9.0,93.3,57.2,89.5,39.0,77.2,51.3,14.9,31.0,34.0
8,9,1,Vic,f,9.0,93.4,56.3,91.5,37.0,72.4,52.9,15.5,28.0,33.0
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
93,94,7,other,m,7.0,91.8,57.6,84.0,35.5,64.2,45.1,14.4,29.0,35.0
69,70,5,other,f,7.0,91.9,56.4,87.0,38.0,65.4,44.1,13.0,27.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
16,17,1,Vic,f,1.0,94.7,67.7,89.5,36.5,73.2,53.2,14.7,29.0,31.0
43,44,2,Vic,m,NaN,85.1,51.5,76.0,35.5,70.3,52.6,14.4,23.0,27.0
45,46,2,Vic,m,NaN,91.4,54.4,84.0,35.0,72.8,51.2,14.4,24.5,35.0

In [35]:
df.loc[:,'age'].mean()

3.8333333333333335

In [36]:
df['age'] < df['age'].mean()

10     False
8      False
0      False
93     False
69     False
       ...
99      True
100     True
16      True
43     False
45     False
Name: age, Length: 104, dtype: bool

In [37]:
df.loc[df['age'] < df['age'].mean(),:]

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
65,66,5,other,f,3.0,90.4,55.8,86.0,36.5,63.2,44.2,15.7,26.5,34.0
96,97,7,other,m,3.0,91.0,53.1,86.0,38.0,63.8,46.0,14.5,25.0,31.5
98,99,7,other,f,3.0,93.3,56.2,86.5,38.5,64.8,43.8,14.0,28.0,35.0
80,81,6,other,m,3.0,90.6,56.0,85.5,38.0,65.6,41.7,17.0,27.5,35.0
82,83,6,other,f,3.0,90.0,53.8,81.5,36.0,62.0,43.3,14.0,25.0,29.0
83,84,6,other,m,3.0,88.4,54.6,80.5,36.0,62.6,43.6,16.3,25.0,28.5
63,64,5,other,f,3.0,96.9,56.5,89.5,38.5,63.0,45.1,17.1,25.5,33.0
85,86,6,other,f,3.0,88.2,53.2,86.5,38.5,60.3,43.7,13.6,26.0,31.0
89,90,7,other,m,3.0,92.6,54.6,85.0,38.5,69.8,44.8,14.5,25.5,32.5
90,91,7,other,m,3.0,97.8,59.6,89.0,38.0,65.5,48.0,15.0,26.0,32.0
92,93,7,other,m,3.0,89.2,54.0,82.0,38.0,63.8,44.9,12.8,24.0,31.0
84,85,6,other,m,3.0,89.5,56.2,92.0,40.5,65.6,43.5,14.5,27.0,31.5
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5
61,62,5,other,f,3.0,91.3,58.0,90.5,39.0,65.5,41.3,16.0,27.0,32.0
21,22,1,Vic,m,3.0,96.3,58.5,91.0,39.5,73.5,52.1,16.2,28.0,36.0
32,33,1,Vic,m,3.0,91.4,54.6,89.0,37.0,70.8,51.8,14.8,24.0,30.0
30,31,1,Vic,m,3.0,92.8,54.1,93.0,37.0,68.0,52.5,14.5,27.0,31.0
39,40,2,Vic,f,3.0,91.0,55.0,84.5,36.0,72.8,51.4,13.6,27.0,30.0
28,29,1,Vic,f,3.0,92.8,56.0,88.0,35.0,74.9,51.8,14.0,24.0,32.0
41,42,2,Vic,m,3.0,85.3,54.1,77.0,32.0,62.7,51.2,13.8,25.5,33.0
24,25,1,Vic,m,3.0,95.8,58.5,91.5,35.5,72.3,51.6,14.9,31.0,35.0
44,45,2,Vic,m,3.0,90.7,55.9,81.0,34.0,71.5,54.0,14.6,27.0,31.5
20,21,1,Vic,f,3.0,95.9,58.1,96.5,39.5,77.9,52.9,14.2,30.0,40.0
52,53,3,other,f,3.0,93.1,58.1,91.0,38.0,67.4,46.0,16.5,26.0,33.5
55,56,4,other,m,3.0,99.9,61.5,93.7,38.0,68.7,46.8,16.4,27.5,31.5
57,58,4,other,m,3.0,94.5,64.2,91.0,39.0,66.5,46.4,14.4,30.5,33.0
13,14,1,Vic,m,3.0,95.4,57.6,91.5,36.0,74.3,53.7,15.1,28.0,31.5
23,24,1,Vic,m,2.0,94.4,54.9,84.0,34.0,75.0,53.5,16.2,27.0,32.0
86,87,7,other,m,2.0,98.5,60.7,93.0,41.5,71.7,46.8,15.0,26.0,36.0
26,27,1,Vic,f,2.0,90.5,54.5,85.0,35.0,70.3,50.8,14.2,23.0,28.0
17,18,1,Vic,m,2.0,93.5,55.7,90.0,36.0,73.7,55.4,15.3,28.0,32.0
91,92,7,other,m,2.0,90.7,56.3,85.0,37.0,67.6,46.8,14.5,25.5,31.0
29,30,1,Vic,f,2.0,92.1,54.4,84.0,33.5,70.6,50.8,14.5,24.5,33.0
87,88,7,other,f,2.0,89.6,58.0,87.5,38.0,66.7,43.5,16.0,25.5,31.5
6,7,1,Vic,m,2.0,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
33,34,2,Vic,m,2.0,90.6,55.7,85.5,36.5,73.1,53.1,14.4,26.0,28.5
42,43,2,Vic,f,2.0,90.0,55.5,81.0,32.0,72.0,49.4,13.4,29.0,31.0
59,60,4,other,f,2.0,91.3,57.7,88.0,39.0,63.1,47.0,14.4,26.0,30.0
54,55,4,other,m,2.0,103.1,63.2,92.5,38.0,72.5,44.9,16.4,30.5,36.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
46,47,3,other,m,2.0,90.1,54.8,89.0,37.5,66.0,45.5,15.0,25.0,33.0
36,37,2,Vic,f,2.0,89.3,54.8,82.5,35.0,71.2,52.0,13.6,28.0,31.5
58,59,4,other,m,2.0,102.5,62.8,96.0,40.0,73.2,44.5,14.7,32.0,36.0
78,79,6,other,m,1.0,85.8,50.0,81.0,36.5,62.8,43.0,14.8,22.0,28.5
77,78,6,other,m,1.0,86.5,51.0,81.0,36.5,63.0,44.3,13.2,23.0,28.0
79,80,6,other,m,1.0,86.7,52.6,84.0,38.0,62.3,44.8,15.0,23.5,30.5
38,39,2,Vic,f,1.0,84.7,51.5,75.0,34.0,68.7,53.4,13.0,25.0,25.0
72,73,5,other,m,1.0,82.5,52.3,82.0,36.5,65.7,44.7,16.0,23.5,28.0
71,72,5,other,m,1.0,85.9,52.4,80.5,35.0,62.0,42.4,14.1,25.5,30.0
5,6,1,Vic,f,1.0,93.1,54.8,90.5,35.5,73.2,53.6,14.2,30.0,32.0
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
16,17,1,Vic,f,1.0,94.7,67.7,89.5,36.5,73.2,53.2,14.7,29.0,31.0

In [20]:
df.shape

(104, 14)

In [39]:
df.columns

Index(['case', 'site', 'Pop', 'sex', 'age', 'hdlngth', 'skullw', 'totlngth',
       'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly'],
      dtype='object')

In [22]:
df['whatever'] = df['taill'] / df['totlngth']

In [21]:
df

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [23]:
df['age'].to_numpy()

array([ 8.,  6.,  6.,  6.,  2.,  1.,  2.,  6.,  9.,  6.,  9.,  5.,  5.,
        3.,  5.,  4.,  1.,  2.,  5.,  4.,  3.,  3.,  4.,  2.,  3.,  7.,
        2.,  4.,  3.,  2.,  3.,  4.,  3.,  2.,  4.,  7.,  2.,  7.,  1.,
        3.,  5.,  3.,  2., nan,  3., nan,  2.,  5.,  4.,  5.,  5.,  6.,
        3.,  7.,  2.,  3.,  4.,  3.,  2.,  2.,  7.,  3.,  6.,  3.,  5.,
        3.,  4.,  5.,  5.,  7.,  6.,  1.,  1.,  4.,  6.,  5.,  6.,  1.,
        1.,  1.,  3.,  4.,  3.,  3.,  3.,  3.,  2.,  2.,  6.,  3.,  3.,
        2.,  3.,  7.,  4.,  4.,  3.,  5.,  3.,  1.,  1.,  6.,  4.,  3.])

In Pandas, a `Series` is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet. You can think of it as a dictionary with a key (the label) and a value (the data).

A `DataFrame` is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or a SQL table, or a dictionary of Series objects. It is generally the most commonly used Pandas object.

In [43]:
pd.Series([2,32,2,1,3])

0     2
1    32
2     2
3     1
4     3
dtype: int64

In [44]:
pd.DataFrame([{'age':22},{'age':23},{'age':24}])

   age
0   22
1   23
2   24

The `groupby()` function is used to split the data into groups based on some criteria.

In [45]:
df.groupby('site')['age'].mean()

site
1    4.181818
2    3.545455
3    4.285714
4    3.285714
5    4.307692
6    3.307692
7    3.444444
Name: age, dtype: float64

# Advanced Python

### Always prefer numpy operations

In [3]:
import numpy as np
x = np.random.random(10)

In [4]:
%%time
sum(x)

CPU times: total: 0 ns
Wall time: 0 ns

np.float64(5.098528772627895)

In [8]:
%%time
np.sum(x)

CPU times: total: 0 ns
Wall time: 0 ns

np.float64(5.098528772627895)

### Always prefer vector operations over loops

In [9]:
a = np.random.rand(1000, 1000)
b = np.random.rand(1000)

In [24]:
import numpy as np
import timeit
import time
%%timeit
x = np.dot(a, b)
print(x)

UsageError: Line magic function `%%timeit` not found.

In [25]:
%%timeit
x = np.zeros(1000)

for i in range(1000):
  for j in range(1000):
    x[i] += a[i, j] * b[j]

544 ms Â± 18.3 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [26]:
%%time
df.loc[:, 'age'] += 1

CPU times: total: 0 ns
Wall time: 998 Î¼s

In [27]:
%%time
for index, row in df.iterrows():
  df.loc[index, 'age'] += 1

CPU times: total: 15.6 ms
Wall time: 36.8 ms

### Python class and inheritance

In [32]:
class Animal:
    def __init__(self, name, num_legs):
        self.name = name
        self.num_legs = num_legs
    
    def classify(self):
        if self.num_legs == 0:
            return "I am a snake!"
        elif self.num_legs == 4:
            return "I am a dog!"
        elif self.num_legs == 2:
            return "I am a human!"
        else:
            return "I am an unknown species!"

    def sound(self):
      pass

In [33]:
class Dog(Animal):
    def __init__(self, name, breed, fur_color):
        super().__init__(name, 4)
        self.breed = breed
        self.fur_color = fur_color

    def sound(self):
        print('Bark')

In [34]:
dog = Dog("Fido", "Labrador", "brown")

In [35]:
dog.classify()

'I am a dog!'

In [36]:
dog.sound()

Bark