In [4]:
import pandas as pd

df = pd.read_csv("C:/GitHub/Machine-Learning/data/BCM_DATA.csv")

In [5]:
# === Step 2: Create lagged columns ===
df['BUDGET_AMT_lag2'] = df['BUDGET_AMT'].shift(2)
df['BUDGET_AMT_lag8'] = df['BUDGET_AMT'].shift(8)
df['BUDGET_AMT_lag12'] = df['BUDGET_AMT'].shift(12)
df['NBR_MURDER_lag1'] = df['NBR_MURDER'].shift(1)
df['NBR_MURDER_lag2'] = df['NBR_MURDER'].shift(2)
df['NBR_MURDER_lag20'] = df['NBR_MURDER'].shift(20)
df['NBR_CASES_lag2'] = df['NBR_CASE'].shift(2)
df['NBR_CASES_lag11'] = df['NBR_CASE'].shift(11)

In [6]:
df.head()

,ACC_MONTH,FISCAL_YEAR,ACCOUNTING_PERIOD,TOT_PAID,BUDGET_AMT,NBR_CASE,NBR_MURDER,NBR_OTHER,BUDGET_AMT_lag2,BUDGET_AMT_lag8,BUDGET_AMT_lag12,NBR_MURDER_lag1,NBR_MURDER_lag2,NBR_MURDER_lag20,NBR_CASES_lag2,NBR_CASES_lag11
0,2011-04-30,2011,1,1489878.86,3629805.06,62,16,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-05-31,2011,2,1922713.79,1724956.61,41,8,33,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN
2,2011-06-30,2011,3,2378873.09,2623665.50,38,12,26,3629805.06,NaN,NaN,8.0,16.0,NaN,62.0,NaN
3,2011-07-31,2011,4,1853901.62,2626410.66,49,9,40,1724956.61,NaN,NaN,12.0,8.0,NaN,41.0,NaN
4,2011-08-31,2011,5,2024100.54,1995629.23,33,17,16,2623665.50,NaN,NaN,9.0,12.0,NaN,38.0,NaN

In [7]:
df.dropna(subset=['NBR_MURDER_lag20'], inplace=True)

In [9]:
df.to_csv("C:/GitHub/Machine-Learning/data/BCM_DATA_lagged.csv")