In [37]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/Gaelim/Clinic_Analysis_Pandas/refs/heads/master/hospital_data.csv")

### Explore Data 
We will explore native functions and dataset

In [38]:
data.head()

,Date,Medication Revenue,Lab Cost,Consultation Revenue,Doctor Type,Financial Class,Patient Type,Entry Time,Post-Consultation Time,Completion Time,Doctor,Patient ID
0,11/4/2019 0:00,"$1,183.22",$10.00,$20.17,ANCHOR,HMO,OUTPATIENT,8:35:45,9:17:54,9:29:46,DR05350C4,C10001
1,11/6/2019 0:00,$738.48,$-,$15.00,ANCHOR,INSURANCE,OUTPATIENT,19:19:16,21:02:36,21:24:07,DR09451Z4,C10002
2,11/2/2019 0:00,$660.00,$-,$21.17,ANCHOR,HMO,OUTPATIENT,10:46:52,11:56:25,12:06:28,DR17400I4,C10003
3,11/6/2019 0:00,$600.00,$-,$-,ANCHOR,MEDICARE,OUTPATIENT,9:38:34,10:55:50,10:58:02,DR09451Z4,C10004
4,11/1/2019 0:00,$591.60,$-,$12.00,ANCHOR,INSURANCE,OUTPATIENT,11:16:21,12:06:49,12:06:54,DR15154H4,C10005

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    29999 non-null  object
 1    Medication Revenue     29999 non-null  object
 2     Lab Cost              29999 non-null  object
 3    Consultation Revenue   29999 non-null  object
 4   Doctor Type             29999 non-null  object
 5   Financial Class         29999 non-null  object
 6   Patient Type            29999 non-null  object
 7   Entry Time              29999 non-null  object
 8   Post-Consultation Time  29999 non-null  object
 9   Completion Time         29999 non-null  object
 10  Doctor                  29999 non-null  object
 11  Patient ID              29999 non-null  object
dtypes: object(12)
memory usage: 2.7+ MB

In [40]:
data.columns

Index(['Date', ' Medication Revenue ', '  Lab Cost ', ' Consultation Revenue ',
       'Doctor Type', 'Financial Class', 'Patient Type', 'Entry Time',
       'Post-Consultation Time', 'Completion Time', 'Doctor', 'Patient ID'],
      dtype='object')

In [41]:
# clean the spaces in the column headings

# data.columns = ['Date', 'Medication Revenue ', 'Lab Cost ', 'Consultation Revenue ',
#        'Doctor Type', 'Financial Class', 'Patient Type', 'Entry Time',
#        'Post-Consultation Time', 'Completion Time', 'Doctor', 'Patient ID']

In [42]:
data.columns = data.columns.str.strip()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    29999 non-null  object
 1   Medication Revenue      29999 non-null  object
 2   Lab Cost                29999 non-null  object
 3   Consultation Revenue    29999 non-null  object
 4   Doctor Type             29999 non-null  object
 5   Financial Class         29999 non-null  object
 6   Patient Type            29999 non-null  object
 7   Entry Time              29999 non-null  object
 8   Post-Consultation Time  29999 non-null  object
 9   Completion Time         29999 non-null  object
 10  Doctor                  29999 non-null  object
 11  Patient ID              29999 non-null  object
dtypes: object(12)
memory usage: 2.7+ MB

In [44]:
# Create my first function
def function1():
    print("Hello")
    print("Bob")

#calling the fuction
function1()

Hello
Bob

In [46]:
#my second function with arguments

def greeting(x):
    print(x)
greeting("Hello Bob")

Hello Bob

In [48]:
#my second function with arguments

def greeting(x):
    return(x)*2

greeting("Hello Bob ")

'Hello Bob Hello Bob '

In [49]:
#my second function with arguments

def formula1(x,y):
    return x*2+y+1

formula1(2,1)

6

In [79]:
# Create a conditional funtion

name1 = "Bob"
salary1 = 5000
side1 = 200
expenses1 = 1000

name2 = "jill"
salary2 = 7000
side2 = 1000
expenses2 = 1500


name3 = "John"
salary3 = 1
side3 = 1
expenses3 = 800

In [82]:
def is_approved(name,salary,side,expenses):
    yearly_total = salary*12 + side*12 - expenses*12
    if yearly_total > 35000:
        return name + ", you are approved."
    else:
        return name + ", you are not approved."
    return name, yearly_total

In [83]:
result1 = is_approved(name1,salary1,side1,expenses1)
result2 = is_approved(name2,salary2,side2,expenses2)
result3 = is_approved(name3,salary3,side3,expenses3)

In [84]:
print(result1)
print(result2)
print(result3)

Bob, you are approved.
jill, you are approved.
John, you are not approved.