In [4]:
#import packages
import pandas as pd

In [3]:
start = '1/1/2020'
end = '1/1/2022'
date_table = pd.DataFrame(pd.date_range(start=start,end=end,tz='EST',freq='h'),columns=['Date'])
date_table['Year'] = date_table['Date'].dt.year
date_table['Month'] = date_table['Date'].dt.month
date_table['Time'] = date_table['Date'].dt.time
date_table['Quarter'] = date_table['Date'].dt.quarter
date_table['Day of Week'] = date_table['Date'].dt.dayofweek
date_table['DW Abb'] = date_table['Date'].dt.strftime('%a')
date_table['DW AM_PM'] = date_table['Date'].dt.strftime('%p')
date_table.set_index('Date',inplace=True)
date_table.to_csv('Date_Table.csv')
date_table

,Year,Month,Time,Quarter,Day of Week,DW Abb,DW AM_PM
Date,,,,,,,
2020-01-01 00:00:00-05:00,2020,1,00:00:00,1,2,Wed,AM
2020-01-01 01:00:00-05:00,2020,1,01:00:00,1,2,Wed,AM
2020-01-01 02:00:00-05:00,2020,1,02:00:00,1,2,Wed,AM
2020-01-01 03:00:00-05:00,2020,1,03:00:00,1,2,Wed,AM
2020-01-01 04:00:00-05:00,2020,1,04:00:00,1,2,Wed,AM
...,...,...,...,...,...,...,...
2021-12-31 20:00:00-05:00,2021,12,20:00:00,4,4,Fri,PM
2021-12-31 21:00:00-05:00,2021,12,21:00:00,4,4,Fri,PM
2021-12-31 22:00:00-05:00,2021,12,22:00:00,4,4,Fri,PM
2021-12-31 23:00:00-05:00,2021,12,23:00:00,4,4,Fri,PM
2022-01-01 00:00:00-05:00,2022,1,00:00:00,1,5,Sat,AM

In [29]:
pwd

'c:\\GitHub\\Machine-Learning\\PowerBI&Python'

In [15]:
date_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    732 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.8 KB

In [24]:
date_table['Date'].dt.strftime('%a')

0        Wed
1        Wed
2        Wed
3        Wed
4        Wed
        ...
17540    Fri
17541    Fri
17542    Fri
17543    Fri
17544    Sat
Name: Date, Length: 17545, dtype: object